<div class="list row">
  <div class="col-md-6">
    <h4>Persons List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let person of persons; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePerson(person, i)"
      >
        {{ person.fullname }}
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentPerson">
      <h4>Details</h4>
      <div>
        <label><strong>Full Name:</strong></label> {{ currentPerson.fullname }}
      </div>
      <div>
        <label><strong>Birth Date:</strong></label>
        {{ currentPerson.birth }}
      </div>
      <div>
        <a
          class="badge badge-warning"
          routerLink="/persons/{{ currentPerson.id }}"
        >
          Edit
        </a>
      </div>

      <div *ngIf="!currentPerson">
        <br />
        <p>Please click on a Person...</p>
      </div>
    </div>
  </div>
</div>
